extends ../layout

block content
      button.btn.btn-danger(type='button', id='deleteContacts')
        i.fa.fa-user-times
        | Delete Checked Contacts
      .search
      form(method="POST", action="/contact/searchbyfullname")
        .col-md-7
          input.form-control(type="text", id="searchInput", name="searchInput")
          input.btn.btn-success(type="submit" value="Search")
          input(type='hidden', name='_csrf', value=_csrf)
      table.table.table-striped.table-dark
        thead
          tr
            th(scope='col') #
            th(scope='col') First Name
            th(scope='col') Last Name
            th(scope='col') DOB
            th(scope='col') Gender
            th(scope='col') Start Date
            th(scope='col') 
        tbody
        each contact in listContact
          - const {_id, userId,firstName, lastName, dob, gender, startDate} = contact
          tr
            th(scope='row') 
              if JSON.stringify(userId) === JSON.stringify(Owner)
                input(type='checkbox', id=_id)
            td #{firstName}
            td #{lastName}
            td #{dob}
            td #{gender? 'Male': 'Female'}
            td #{startDate}
            td 
              - const url = '/contact/edit?id='+ _id
              a.btn.btn-primary(href= url, role='button') Detail/Edit
      a.btn.btn-primary.ulti(href='/contact/add', role='button')
        i.fa.fa-user-plus
        | Add A Contact
      .upload-btn-wrapper
        button.btn-upload 
          i.fa.fa-file-excel-o 
          | Import A File
        input(name='myfile', type='file', id="fileImport")
      a.btn.btn-primary.ulti(href='/contact/export', role='button')
        i.fa.fa-download
        | Export Contacts
