extends ../layout

block content
  .container
      button.btn.btn-danger(type='button', id='deleteContacts')
        i.fa.fa-user-times
        | Delete Checked Contacts
      table.table.table-striped.table-dark
        thead
          tr
            th(scope='col') #
            th(scope='col') First Name
            th(scope='col') Last Name
            th(scope='col') DOB
            th(scope='col') Gender
            th(scope='col') 
        tbody
        each contact in listContact
          - const {_id, userId,firstName, lastName, dob, gender} = contact
          tr
            th(scope='row') 
              if JSON.stringify(userId) === JSON.stringify(Owner)
                input(type='checkbox', id=_id)
            td #{firstName}
            td #{lastName}
            td #{_id}
            td #{gender? 'Male': 'Female'}
            td 
              - const url = '/contact/edit?id='+ _id
              a.btn.btn-primary(href= url, role='button') Detail/Edit
      a.btn.btn-primary(href='/contact/add', role='button')
        i.fa.fa-user-plus
        | Add A Contact
        
      button.btn.btn-primary(type='button')
        i.fa.fa-upload
        | Import From .csv File
      button.btn.btn-primary(type='button')
        i.fa.fa-file-excel-o
        | Export Contacts
